---
import type { KnownLocale } from '../../types';
import { pixelesPantalla } from './index';

interface Props {
  locale?: KnownLocale;
}

const { locale = 'es' } = Astro.props;
const content = await pixelesPantalla.i18n[locale]?.();
---

{
  content && content.bibliography.length > 0 && (
    <article class="prose prose-lg dark:prose-invert max-w-4xl mx-auto mt-20 px-6 font-sans">
      <h2 class="text-3xl font-black dark:text-blue-100 mb-8 tracking-tight">
        {content.bibliographyTitle}
      </h2>
      <ul>
        {content.bibliography.map((item) => (
          <li>
            <a href={item.url} target="_blank" rel="noopener noreferrer">
              {item.name}
            </a>
          </li>
        ))}
      </ul>
    </article>
  )
}

